body {
	background: #E7AD99;
	text-align: center;
	font-family: Arial;
	margin: 0px auto;
  color: #D87A65;
  font-size: 12px;
}

h1 {
	color: #EFF1ED;
	font-size: 65px;
}

h3 {
	text-align: center;
	font-size: 40px;
}

/* Style the tab */
.tab {
  width: 840px;
  overflow: hidden;
  background-color: #EFF1ED;
  color: #EFF1ED;
  margin: 0px auto;
  display: inline-block;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: 120px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  transition: 0.3s;
  color: #fff;
  font-size: 18px;
  background-color: #717744;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5c692d;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #373D20;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
  color: #D87A65;
  text-align: center;
  font-size: 15px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}